{% load static %}
{% load main_extras %}

<div class="row list-group-deprecation">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body bg-translucent-primary">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <h5 class="title float-left">List of processed dataflows</h5>
                        <p class="float-right">
                            {{ list|deprecation_stats|safe }}
                        </p>
                        <br/>
                        <hr/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <div class="form-check">
                            <input class="form-check-input deprecation-filter" type="checkbox"
                                   id="deprecation-filter-{{ object.pk }}"
                                   name="deprecation-filter" onclick="filter_deprecation($(this));">
                            <label class="form-check-label" for="deprecation-filter-{{ object.pk }}">
                                Only Deprecated?
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <div class="form-check">
                            <input class="form-check-input deprecation-filter" type="checkbox"
                                   id="deprecation-only-errors-{{ object.pk }}"
                                   name="deprecation-only-errors" onclick="filter_deprecation($(this));">
                            <label class="form-check-label" for="deprecation-only-errors-{{ object.pk }}">
                                Only Errors?
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <div class="form-check">
                            <input class="form-check-input deprecation-filter" type="checkbox"
                                   id="deprecation-no-changes-{{ object.pk }}"
                                   name="deprecation-no-changes" onclick="filter_deprecation($(this));">
                            <label class="form-check-label" for="deprecation-no-changes-{{ object.pk }}">
                                No changes?
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-md-2">

                    </div>

                    <div class="form-group col-md-4">
                        <button class="download-selected download-selected-{{ object.pk }}"
                                data-pk="{{ object.pk }}"
                                data-name="{{ object.name }}" hidden>
                        </button>
                        <button class="btn btn-primary float-right ml-2 download-selected-clicker"
                                data-pk="{{ object.pk }}" title="Download displayed dataflows"
                                data-name="{{ object.name }}">
                            <i class="fas fa-download"></i>
                        </button>

                        <button class="btn btn-info float-right reset-filter ml-2" title="Reset Filter">
                            <i class="fas fa-undo"></i>
                        </button>
                    </div>
                </div>

                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Status</th>
                        <th>Observation</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in list %}
                        <tr>
                            <input type="hidden" class="pk" value="{{ object.pk }}">
                            <input type="hidden" class="status" value="{{ object.status }}">
                            <td style="word-wrap: break-word;max-width: 220px;width: 200px;">
                                {% if object.removed_fields %}
                                    <a data-toggle="collapse" href="#removed-fields-{{ object.pk }}" role="button"
                                       aria-expanded="false" aria-controls="removed-fields-{{ object.pk }}"
                                       class="removed-fields-{{ object.pk }}">
                                        {{ object.file_name|basename }}
                                    </a>
                                {% else %}
                                    {{ object.file_name|basename }}
                                {% endif %}
                            </td>
                            <td class="status-cell text-center">{{ object.get_status_badge|safe }}</td>
                            <td>{{ object.message|safe }}</td>
                            <td class="text-center">
                                {% if object|is_deprecated %}
                                    <a href="{% url 'main:compare-deprecation' pk=object.pk %}"
                                       rel="tooltip" class="btn btn-info btn-circle btn-sm"
                                       title="Show with 'JDD'" target="_blank">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{% url 'main:compare-side-by-side' pk=object.pk %}"
                                       rel="tooltip" class="btn btn-info btn-circle btn-sm btn-show-diff"
                                       title="Show with 'Diff2HtmlCompare'" target="_blank">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                {% endif %}
                                <a href="{% url 'main:download-deprecated' pk=object.pk %}" target="_blank"
                                   rel="tooltip" class="btn btn-success btn-circle btn-sm"
                                   title="Download dataflow">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr class="collapse removed-fields" id="removed-fields-{{ object.pk }}"
                            data-pk="{{ object.pk }}">
                            <td colspan="4">
                                {% include 'dataflow-manager/deprecate-fields/details/_removed_fields.html' with object=object %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
