{% load static %}
{% load main_extras %}

<div class="row list-group-deprecation">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body bg-translucent-primary">
                <div class="form-row">
                    <div class="form-group col-12">
                        <h5 class="title-{{ deprecation.pk }} float-left"></h5>

                        <a href="{% url 'main:download-obj-fields' deprecation_pk=deprecation.pk %}"
                           class="btn btn-primary btn-icon-split float-right">
                            <span class="icon text-white-50">
                                <i class="fas fa-download"></i>
                            </span>
                            <span class="text">Download as <strong>JSON</strong> file</span>
                        </a>
                    </div>
                </div>
                <div id="parameter-editor-{{ deprecation.pk }}" style="width: 100%; height: 1000px;" data-pk="{{ deprecation.id }}" class="parameter-editor-div"></div>

                <textarea name="parameter" id="id_parameter-{{ deprecation.pk }}" hidden>
                    {{ deprecation.get_objects_fields_metadata|safe }}
                </textarea>
            </div>
        </div>
    </div>
</div>
