{% load static %}
{% load main_extras %}

<div class="row list-group-deprecation">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body bg-translucent-primary">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <h5 class="title float-left">Removed fields</h5>

                        <br/>
                        <hr/>

                        <a href="{% url 'main:download-removed-field-list' deprecation_detail_pk=object.pk %}"
                           class="btn btn-primary btn-icon-split float-right">
                            <span class="icon text-white-50">
                                <i class="fas fa-download"></i>
                            </span>
                            <span class="text">Download as <strong>JSON</strong> file</span>
                        </a>
                    </div>
                </div>

                <div id="removedfields-{{ object.pk }}" style="width: 100%; height: 1000px;" data-pk="{{ object.id }}"
                     class="removed-fields-div"></div>

                <textarea name="removed-fields" id="removedfields-{{ object.pk }}" hidden>
                    {{ object.get_removed_fields|safe }}
                </textarea>
            </div>
        </div>
    </div>
</div>
