{% extends 'sd-base/base.html' %}

{% load static %}

{% block title %}Manage Connections{% endblock title %}
{% block page-header %}Create new Connection{% endblock page-header %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">New Connection form</h6>
                </div>

                <div class="card-body">
                    <form class="form-horizontal" method="post" action="{% url 'main:sfdc-env-create' %}">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {% with "id_"|add:form.name.name as name_id %}
                                    <label for="{{ name_id }}">{{ form.name.label }}</label>
                                    <input name="{{ form.name.name }}"
                                           type="text"
                                           class="form-control"
                                           required
                                           id="{{ name_id }}"
                                           placeholder="">
                                {% endwith %}
                            </div>

                            <div class="form-group col-md-3">
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label" for="id_environment_0">
                                        <input type="radio" name="{{ form.environment.name }}"
                                               value="{{ environment_choice.0.0 }}" required=""
                                               id="id_environment_0">&nbsp;&nbsp;{{ environment_choice.0.1 }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label" for="id_environment_1">
                                        <input type="radio" name="{{ form.environment.name }}"
                                               value="{{ environment_choice.1.0 }}" required=""
                                               id="id_environment_1">&nbsp;&nbsp;{{ environment_choice.1.1 }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {% with "id_"|add:form.client_key.name as client_key_id %}
                                    <label for="{{ client_key_id }}">{{ form.client_key.label }}</label>
                                    <input name="{{ form.client_key.name }}"
                                           type="password"
                                           class="form-control"
                                           required
                                           id="{{ client_key_id }}"
                                           placeholder="">
                                {% endwith %}
                            </div>

                            <div class="form-group col-md-6">
                                {% with "id_"|add:form.client_secret.name as client_secret_id %}
                                    <label for="{{ client_secret_id }}">{{ form.client_secret.label }}</label>
                                    <input name="{{ form.client_secret.name }}"
                                           type="password"
                                           class="form-control"
                                           required
                                           id="{{ client_secret_id }}"
                                           placeholder="">
                                {% endwith %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {% with "id_"|add:form.client_username.name as client_username_id %}
                                    <label for="{{ client_username_id }}">{{ form.client_username.label }}</label>
                                    <input name="{{ form.client_username.name }}"
                                           type="text"
                                           class="form-control"
                                           required
                                           id="{{ client_username_id }}"
                                           placeholder="">
                                {% endwith %}
                            </div>

                            <div class="form-group col-md-6">
                                {% with "id_"|add:form.client_password.name as client_password_id %}
                                    <label for="{{ client_password_id }}">{{ form.client_password.label }}</label>
                                    <input name="{{ form.client_password.name }}"
                                           type="password"
                                           class="form-control"
                                           required
                                           id="{{ client_password_id }}"
                                           placeholder="">
                                {% endwith %}
                            </div>
                        </div>

                        <div class="row spacer float-right">
                            <div class="col-12 offset-0">
                                <button type="submit" class="btn btn-success btn-icon-split float-right">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text">Create</span>
                                </button>
                            </div>
                        </div>

                        <div class="row spacer float-left">
                            <div class="col-12 offset-0">
                                <a href="{% url 'main:sfdc-env-list' %}"
                                   class="btn btn-info btn-icon-split float-right">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-left"></i>
                                    </span>
                                    <span class="text">Back</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}
