{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Profile{% endblock title %}

{% block extra_header_script %}
<script>
</script>
{% endblock extra_header_script %}

{% block content %}
<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card">
            <div class="card-header card-header-rose">
                <h3 class="card-title">Salesforce Environment Credentials</h3>
                {% if default_category %}<p class="category">{{ default_category }}</p>{% endif %}
            </div>

            <div class="card-body">
                <div class="form-group">
                    <button class="btn btn-primary btn-round float-right" id="create-new-env-btn">
                      <i class="material-icons">add_circle</i>&nbsp;&nbsp;Create
                    </button>
                </div>
                {% include 'sfdc/env/_env_list.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extra_scripts %}
<script>
let origin = window.location.origin;

$('#create-new-env-btn').on('click', function(evt) {
    window.location.href = origin + '{% url 'main:sfdc-env-create' %}';
});

$('.btn-success').on('click', function(evt) {
    let env_id = $(this).parent().parent().find('td.id-field').html();
    let url = origin + '{% url 'main:sfdc-env-edit' pk=0 %}'.replace('0', env_id);
<!--    console.log(url);-->
    window.location.href = url;
});
</script>
{% endblock extra_scripts %}