<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Datetime</th>
            <th>Dataflow Name</th>
            <th>Salesforce Environment</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Datetime</th>
            <th>Dataflow Name</th>
            <th>Salesforce Environment</th>
            <th class="text-center">Action</th>
        </tr>
        </tfoot>

        <tbody>
        {% for object in list %}
            <tr>
                <td data-order="{{ object.created_at|date:'Y-m-d H:i' }}"
                    style="word-wrap: break-word;max-width: 220px;width: 200px;">
                    {{ object.created_at }} <!--|date:'M. d, Y - H:i' }} -->
                </td>
                <td>
                    {{ object.dataflow_name|safe }}
                </td>
                <td>
                    {{ object.get_salesforce_env_name|safe }}
                </td>
                <td class="text-center" style="word-wrap: break-word;max-width: 110px;width: 100px;">
                    <a href="{% url 'main:compare-deprecation' pk=object.pk upload='true' %}"
                       rel="tooltip" class="btn btn-info btn-circle btn-sm"
                       title="Show with 'JDD'" target="_blank">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'main:compare-side-by-side' pk=object.pk upload='true' %}"
                       rel="tooltip" class="btn btn-info btn-circle btn-sm btn-show-diff"
                       title="Show with 'Diff2HtmlCompare'" target="_blank">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'main:download-upload-backup' pk=object.pk %}"
                       rel="tooltip" class="btn btn-success btn-circle btn-sm"
                       title="Show with 'Diff2HtmlCompare'" target="_blank">
                        <i class="fas fa-download"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
