{% extends 'sb-base/base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}Localize Registers{% endblock title %}
{% block page-header %}Tableau CRM Dataflows / Visualization{% endblock page-header %}

{% block header-scripts %}
    <link href="{% static 'site/css/jsoneditor.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'site/js/jsoneditor.js' %}"></script>
{% endblock header-scripts %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-9 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Localizes all register nodes from a dataflow</h6>
                </div>

                <div class="card-body">
                    <form method="POST" action="{% url 'main:register-localizer' %}" enctype="multipart/form-data"
                          id="register-locator-form">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="id_{{ form.dataflow.name }}" class="form-label">
                                    Select a Dataflow
                                </label>
                                <input class="form-control" type="file" name="{{ form.dataflow.name }}"
                                       id="id_{{ form.dataflow.name }}">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-4">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="id-node">Select a node</label>
                                        <select id="id-node" class="js-example-basic-single" name="node"
                                                style="width:100%;" multiple>
                                        </select>
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="id-datasets">List dataset names</label>
                                        <textarea name="datasets" id="id-datasets" cols="30" rows="10"></textarea>
                                    </div>

                                    <div class="form-group col-12 ml-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="id-complement"
                                                   name="complement">
                                            <label for="id-complement">Complement?</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-8">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="json-holder">Output</label>
                                        <div id="json-holder" style="width: 100%; height: 500px;"></div>
                                        <textarea name="registers" id="id_registers" hidden>{}</textarea>
                                    </div>

                                    <div class="form-group col-12">
                                        <button class="btn btn-success btn-icon-split float-right mr-1 clipboard">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-clipboard-check"></i>
                                            </span>
                                            <span class="text">Copy to Clipboard</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <script>
        let list_node_url = "{% url 'main:list-node-from-df' %}";
    </script>
    <script src="{% static 'site/js/register-localizer.js' %}?v={{ version }}" type="module"></script>
{% endblock extra-scripts %}
