{% extends 'sb-base/base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}Manage Dataflows{% endblock title %}
{% block page-header %}Tableau CRM Dataflows / Transformation{% endblock page-header %}

{% block header-scripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.5/jsoneditor.css" rel="stylesheet"
          type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.5/jsoneditor.js"></script>
{% endblock header-scripts %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-9 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Generates sfdcDigest node from listed fields.</h6>
                </div>

                <div class="card-body">
                    <form method="POST" action="{% url 'main:register-localizer' %}" enctype="multipart/form-data"
                          id="register-locator-form">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="id_{{ form.dataflow.name }}" class="form-label">
                                    Select a Dataflow
                                </label>
                                <input class="form-control" type="file" name="{{ form.dataflow.name }}"
                                       id="id_{{ form.dataflow.name }}">
                            </div>

                            <div class="form-group col-6">
                                <label for="id-node">Node name</label>
                                <select id="id-node" class="js-example-basic-single" name="node"
                                        style="width:100%;" multiple>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-12">
                                <div id="json-holder" style="width: 100%; height: 500px;"></div>

                                <textarea name="registers" id="id_registers" hidden>{}</textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <script>
        let list_node_url = "{% url 'main:list-node-from-df' %}";
    </script>
    <script src="{% static 'site/js/register-localizer.js' %}?v={{ version }}" type="module"></script>
{% endblock extra-scripts %}
