{% load mathfilters %}


<div class="collapse" id="guideline-box">
    <div class="row">
        {% with zize=profile_guidelines|length %}
            {% with col=12|div:zize|floatformat %}
                {% for guideline in profile_guidelines %}
                    <div class="col-xl-{{ col }} col-md-6 mb-4">
                        <div class="card border-left-{{ guideline.color }} shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-{{ guideline.color }} text-uppercase mb-1">
                                            {{ guideline.title }}
                                        </div>
                                        <div class="h9 mb-0 font-weight-normal text-gray-500">
                                            {{ guideline.text|safe }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas {{ guideline.icon }} fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        {% endwith %}
    </div>

    <hr/>
</div>

