{% extends 'sb-base/base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}Profile{% endblock title %}
{% block page-header %}Edit Profile{% endblock page-header %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-9 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile Edit Form</h6>
                    <a href="#guideline-box"
                       class="btn btn-primary btn-circle btn-sm delete-profile"
                       title="Tips" data-key="{{ profile.key }}" data-pk="{{ profile.pk }}"
                       data-toggle="collapse" data-target="#guideline-box" aria-expanded="false"
                       aria-controls="guideline-box">
                        <i class="fas fa-question"></i>
                    </a>
                </div>

                <div class="card-body">
                    {% include '_guidelines.html' %}

                    {% for non_field_error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ non_field_error|capfirst }}
                        </div>
                    {% endfor %}

                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ field.name|title }}</strong>: {{ error|safe }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <form method="POST" action="{% url 'main:profile-edit' pk=profile.pk %}">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="mb-3">
                                    <label for="id_{{ form.key.name }}" class="required">{{ form.key.name|title }}</label>
                                    <input type="text" class="form-control" name="{{ form.key.name }}"
                                           id="id_{{ form.key.name }}" value="{{ form.key.value }}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="mb-3">
                                    <label for="id_{{ form.value.name }}" class="required">{{ form.value.name|title }}</label>
                                    <input type="text" class="form-control" name="{{ form.value.name }}"
                                           id="id_{{ form.value.name }}" value="{{ form.value.value }}" required>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="id_{{ form.type.name }}" class="required">{{ form.type.name|title }}</label>
                                <select id="id_{{ form.type.name }}" class="form-control-lg"
                                        name="{{ form.type.name }}"
                                        style="width:100%;">
                                    <option value="{{ form.type.value }}" selected>{{ form.type.value|profile_type_to_text }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row float-right">
                            <button type="submit" hidden></button>
                            <a href="#" class="btn btn-success btn-icon-split" id="proceed">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">Update</span>
                            </a>
                        </div>

                        <div class="form-row float-left">
                            <a href="{% url 'main:profile-view' %}" class="btn btn-info btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-list"></i></span>
                                <span class="text">Back to list</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <script>
        let type_list_url = "{% url 'main:profile-get-type-list' %}";
    </script>
    <script src="{% static 'site/js/profile.js' %}" type="module"></script>
{% endblock extra-scripts %}
