{% extends 'sb-base/base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}Profile{% endblock title %}
{% block page-header %}View Profile{% endblock page-header %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-9 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile variables</h6>
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Type</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="form-group">
                            <a href="{% url 'main:profile-create' %}"
                               class="btn btn-success btn-icon-split float-right">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">New</span>
                            </a>
                        </div>

                        <br/>
                        <br/>
                        {% for profile in object_list %}
                            <tr>
                                <td>{{ profile.key }}</td>
                                <td>{{ profile.value }}</td>
                                <td>{{ profile.type|profile_type_to_text }}</td>
                                <td>
                                    <a href="{% url 'main:profile-edit' pk=profile.pk %}"
                                       class="btn btn-info btn-circle btn-sm"
                                       title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#"
                                       class="btn btn-danger btn-circle btn-sm delete-profile"
                                       title="Delete" data-key="{{ profile.key }}" data-pk="{{ profile.pk }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <script>
        let delete_url = "{% url 'main:profile-delete' pk='0000' %}";
    </script>
    <script src="{% static 'site/js/profile.js' %}" type="module"></script>
{% endblock extra-scripts %}

