{% extends 'sb-base/base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}Notification{% endblock title %}
{% block page-header %}View Notification Details{% endblock page-header %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Notification #{{ notification.pk }}</h6>
                </div>

                <div class="card-body">
                    {{ notification.message|safe }}

                    {% if notification|is_upload_notif %}
                        <div class="form-group">
                            <a href="{% url 'main:download-zip' pk=notification.pk %}"
                               class="btn btn-success btn-user float-right btn-submit">Download</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}