[submodule "libs/tcrm_automation"]
	path = libs/tcrm_automation
	url = https://gitlab.com/HeanGee/tcrm_automation.git
[submodule "libs/interactor"]
	path = libs/interactor
	url = https://github.com/Bluewine/interactor.git
[submodule "libs/diff2htmlcompare"]
	path = libs/diff2htmlcompare
	url = https://gitlab.com/HeanGee/diff2htmlcompare.git
[submodule "libs/jdd"]
	path = libs/jdd
	url = https://github.com/Hyungki/jdd.git
[submodule "libs/jquery-timeago"]
	path = libs/jquery-timeago
	url = https://github.com/rmm5t/jquery-timeago.git
