aiohttp==3.7.3
aioredis==1.3.1
anybadge==1.7.0
APScheduler==3.7.0
asgiref==3.3.4
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
Authlib==0.15.2
autobahn==21.3.1
Automat==20.2.0
bandit==1.7.0
beautifulsoup4==4.9.3
blessings==1.7
certifi==2020.12.5
cffi==1.14.6
channels==3.0.3
channels-redis==3.2.0
chardet==3.0.4
configobj==5.0.6
constantly==15.1.0
coverage==5.4
cryptography==3.4.6
cx-Oracle==8.1.0
daphne==3.0.2
dj-database-url==0.5.0
Django==3.2.3
django-appconf==1.0.4
django-apscheduler==0.6.0
django-bootstrap4==3.0.1
django-environ==0.4.5
django-extensions==3.1.3
django-glrm==1.1.3
django-heroku==0.3.1
django-jsonfield==1.4.1
django-mathfilters==1.0.0
django-tinymce==3.3.0
djangorestframework==3.12.4
flake8==3.8.4
gitdb==4.0.5
GitPython==3.1.13
gunicorn==20.1.0
hiredis==2.0.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
mistune==0.8.4
msgpack==1.0.2
multidict==5.1.0
newrelic==6.6.0.162
numpy==1.19.5
packaging==20.8
pandas==1.2.0
pbr==5.5.1
pluggy==0.13.1
psutil==5.8.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
py==1.10.0
py-term==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.9.0
pylint==2.6.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.1.1
pytest-cov==2.11.1
python-dateutil==2.8.1
python-engineio==3.14.2
python-socketio==4.6.1
pytz==2020.5
PyYAML==5.4.1
PyMongo==3.12.0
requests==2.24.0
service-identity==21.1.0
simple-salesforce==1.10.1
six==1.15.0
smmap==3.0.5
soupsieve==2.2.1
sqlparse==0.4.1
stevedore==3.3.0
SQLAlchemy==1.4.23
toml==0.10.2
tqdm==4.57.0
Twisted==21.2.0
txaio==21.2.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11
watchgod==0.6
whitenoise==5.3.0
wrapt==1.12.1
yarl==1.6.3
zope.interface==5.4.0
