{% extends 'sb-base/base.html' %}

{% load static %}

{% block title %}Manage Dataflows{% endblock title %}
{% block page-header %}Tableau CRM Dataflows / Modification{% endblock page-header %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Compare two Dataflows</h6>
                </div>

                <div class="card-body">
                    <form method="POST" action="{% url 'main:compare-dataflows' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label for="id_{{ form.file1.name }}" class="form-label">Select left
                                        Dataflow</label>
                                    <input class="form-control" type="file" name="{{ form.file1.name }}"
                                           id="id_{{ form.file1.name }}">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label for="id_{{ form.file2.name }}" class="form-label">Select right
                                        Dataflow</label>
                                    <input class="form-control" type="file" name="{{ form.file2.name }}"
                                           id="id_{{ form.file2.name }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label" for="id_method_1">
                                        <input type="radio" name="method" value="jdd"
                                               required="" checked
                                               id="id_method_1">&nbsp;&nbsp;JDD
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label" for="id_method_2">
                                        <input type="radio" name="method" value="d2h"
                                               required=""
                                               id="id_method_2">&nbsp;&nbsp;Diff to HTML
                                    </label>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <br/>

                        <button type="submit" class="btn btn-success btn-icon-split float-right">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Proceed</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}