{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Login{% endblock title %}

{% block extra_header_script %}
<script>
</script>
{% endblock extra_header_script %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header card-header-rose">
                <h3 class="card-title">{{ default_title }}</h3>
                <p class="category">{{ default_category }}</p>
            </div>

            <div class="card-body">
                <form method="post" action="{% url 'main:login' %}">
                    {% csrf_token %}

                    {% comment %} Form errors {% endcomment %}
                    {{ form.username.errors }}
                    {{ form.password.errors }}
                    {{ form.password_2.errors }}

                    <div class="form-group">
                        {% with "id_"|add:form.username.name as username_field_id %}
                        <label for="{{ username_field_id }}">{{ form.username.label }}</label>
                        <input type="text" class="form-control"
                               name="{{ form.username.name }}"
                               required
                               id="{{ username_field_id }}" aria-describedby="emailHelp">
                        {% endwith %}
                    </div>

                    <div class="form-row">
                        <div class="col">
                            {% with "id_"|add:form.password.name as pass_field_id %}
                            <label for="{{ pass_field_id }}">{{ form.password.label }}</label>
                            <input type="password" class="form-control"
                                   required
                                   name="{{ form.password.name }}" id="{{ pass_field_id }}">
                            {% endwith %}
                        </div>

                        <div class="col">
                            {% with "id_"|add:form.password_2.name as pass2_field_id %}
                            <label for="{{ pass2_field_id }}">{{ form.password_2.label }}</label>
                            <input type="password" class="form-control"
                                   required
                                   name="{{ form.password_2.name }}" id="{{ pass2_field_id }}">
                            {% endwith %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}