{% load static %}

<!-- Heading -->
<div class="sidebar-heading">
    Salesforce
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    {% url 'main:sfdc-env-list' as url_envs %}
    <a class="nav-link{% if 'sfdc/env/' not in cur_url %} collapsed{% endif %}" href="#" data-toggle="collapse"
       data-target="#collapse1"
       aria-expanded="{% if 'sfdc/env/' in cur_url %}true{% else %}false{% endif %}" aria-controls="collapse1">
        <i class="fas fa-fw fa-cog"></i>
        <span>O-Auth Connections</span>
    </a>
    <div id="collapse1" class="collapse{% if 'sfdc/env/' in cur_url %} show{% endif %}" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item{% if cur_url == url_envs %} active{% endif %}" href="{{ url_envs }}">Show Status</a>
        </div>
    </div>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    {% url 'main:download-dataflow' as url_down_df %}
    {% url 'main:compare-dataflows' as url_comp_df %}
    {% url 'main:edit-dataflow' as url_edit_df %}
    {% url 'main:digest-generator' as url_digen_df %}
    {% url 'main:deprecate-fields' as url_depr_df %}
    {% url 'main:view-deprecations' as url_view_dp %}
    {% url 'main:upload-dataflow' as url_up_df %}
    {% url 'main:extract-update-dataflow' as url_mng_df %}
    {% url 'main:register-localizer' as url_reg_loc %}
    {% url 'main:list-datasets' as url_list_datasets %}
    {% url 'main:view-upload-history' as url_upl_hist %}
    <a class="nav-link{% if 'dataflow-manager' not in cur_url %} collapsed{% endif %}" href="#" data-toggle="collapse"
       data-target="#collapse2"
       aria-expanded="{% if 'dataflow-manager' in cur_url %}true{% else %}false{% endif %}" aria-controls="collapse2">
        <i class="fas fa-fw fa-cog"></i>
        <span>Tableau CRM Dataflows</span>
    </a>
    <div id="collapse2" class="collapse{% if 'dataflow-manager' in cur_url %} show{% endif %}"
         aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Deprecation:</h6>
            <a class="collapse-item{% if cur_url == url_depr_df %} active{% endif %}" href="{{ url_depr_df }}">Deprecate
                fields</a>
            <a class="collapse-item{% if cur_url == url_view_dp %} active{% endif %}" href="{{ url_view_dp }}">View
                deprecations</a>

            <h6 class="collapse-header">Transformation:</h6>
            <a class="collapse-item{% if cur_url == url_edit_df %} active{% endif %}"
               href="#"  data-toggle="modal" data-target="#file-selector-md">Edit</a>
            <a class="collapse-item{% if cur_url == url_mng_df %} active{% endif %}" href="{{ url_mng_df }}">Extract |
                Update</a>

            <h6 class="collapse-header">Visualization:</h6>
            <a class="collapse-item{% if cur_url == url_comp_df %} active{% endif %}"
               href="{{ url_comp_df }}">Compare</a>
            <a class="collapse-item{% if cur_url == url_list_datasets %} active{% endif %}"
               href="{{ url_list_datasets }}">List datasets</a>
            <a class="collapse-item{% if cur_url == url_reg_loc %} active{% endif %}"
               href="{{ url_reg_loc }}">Locate <code><strong>sfdcRegister</strong></code></a>
            <a class="collapse-item{% if cur_url == url_digen_df %} active{% endif %}" href="{{ url_digen_df }}">
                <code><strong>sfdcDigest</strong></code> Generator
            </a>

            <h6 class="collapse-header">Remote Connection:</h6>
            <a class="collapse-item{% if cur_url == url_down_df %} active{% endif %}"
               href="{{ url_down_df }}">Download</a>
            {% if perms.main.special_permission_upload_dataflows %}
                <a class="collapse-item{% if cur_url == url_up_df %} active{% endif %}" href="{{ url_up_df }}">
                    Upload
                </a>
                <a class="collapse-item{% if cur_url == url_upl_hist %} active{% endif %}" href="{{ url_upl_hist }}">
                    Upload History
                </a>
            {% endif %}
        </div>
    </div>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    {% url 'main:secpred-to-saql' as url_sectosaql %}
    <a class="nav-link{% if 'dataset-manager' not in cur_url %} collapsed{% endif %}" href="#" data-toggle="collapse"
       data-target="#collapse3"
       aria-expanded="{% if 'dataset-manager' in cur_url %}true{% else %}false{% endif %}" aria-controls="collapse3">
        <i class="fas fa-fw fa-cog"></i>
        <span>Tableau CRM Datasets</span>
    </a>
    <div id="collapse3" class="collapse{% if 'dataset-manager' in cur_url %} show{% endif %}"
         aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Security Predicate:</h6>
            <a class="collapse-item{% if cur_url == url_sectosaql %} active{% endif %}" href="{{ url_sectosaql }}">
                Convert to SAQL
            </a>
        </div>
    </div>
</li>

{% include 'dataflow-manager/edit/file-selector-mdform.html' %}