{% load static %}


<!-- Heading -->
<div class="sidebar-heading">
    Slack Integration
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    {% url 'main:slack' as url_slack %}
    <a class="nav-link{% if 'slack/' not in cur_url %} collapsed{% endif %}" href="#" data-toggle="collapse"
       data-target="#collapse4"
       aria-expanded="{% if 'slack/' in cur_url %}true{% else %}false{% endif %}" aria-controls="collapse4">
        <i class="fas fa-fw fa-cog"></i>
        <span>Communications</span>
    </a>
    <div id="collapse4" class="collapse{% if 'slack/' in cur_url %} show{% endif %}" aria-labelledby="headingTwo"
         data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions:</h6>
            <a class="collapse-item{% if cur_url == url_slack %} active{% endif %}" href="{{ url_slack }}">Request an
                approval</a>
        </div>
    </div>
</li>