{% load static %}

<div class="card">
    <div class="card-header card-header-rose">
        <h3 class="card-title">Init conversation with Customer</h3>
        <p class="category">Templates for sending an initial conversation with customer</p>
    </div>

    <div class="card-body">
        <form method="post" action="{% url 'main:slack' %}">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-2">
                    {% with "id_"|add:customer_conversation_form.channel_id.name as channel_id %}
                    <label for="{{ channel_id }}">{{ customer_conversation_form.channel_id.label }}</label>
                    <input name="{{ customer_conversation_form.channel_id.name }}"
                           type="text"
                           class="form-control"
                           required
                           id="{{ channel_id }}"
                           placeholder="">
                    {% endwith %}
                </div>
            </div>

            <div class="">
                <button type="submit" class="btn btn-primary btn-user float-right">
                    Proceed
                </button>
            </div>
        </form>
    </div>
</div>