{% extends 'sb-base/base.html' %}

{% load static %}

{% block title %}Slack Integration{% endblock title %}
{% block page-header %} Slack Integration / Communications {% endblock page-header %}

{% block header-scripts %}
    <script>
        let default_title = "{{ default_title }}";
    </script>
{% endblock header-scripts %}

{% block page-content %}
    <div class="row">
        <div class="col-md-8">
        {% include 'slack/_approval-request.html' %}
    </div>
</div>

{% endblock page-content %}

{% block extra-scripts %}
<script>
    {% with "id_"|add:form.case_manager_name.name as manager_name_id %}
        const manager_name_field_id = "{{manager_name_id}}";
    {% endwith %}

    const has_manager_approval_field_id = "id_{{ form.case_manager_approval.name }}";

    const targetlist_url = "{% url 'main:slack-targets' %}";
</script>
<script src="{% static 'site/js/slack_msg_pusher.js' %}?v={{ version }}" type="module"></script>
{% endblock extra-scripts %}