{% load static %}

<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
        <!--      <ul>-->
        <!--        <li>-->
        <!--          <a href="https://www.creative-tim.com">-->
        <!--            Creative Tim-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a href="https://creative-tim.com/presentation">-->
        <!--            About Us-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a href="http://blog.creative-tim.com">-->
        <!--            Blog-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--          <a href="https://www.creative-tim.com/license">-->
        <!--            Licenses-->
        <!--          </a>-->
        <!--        </li>-->
        <!--      </ul>-->
    </nav>
      <div class="copyright float-right">
          &copy;
          <script>
        document.write(new Date().getFullYear())

          </script>
          , made with <em class="material-icons">favorite</em> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          &nbsp;Customized on <em class="material-icons">local_fire_department</em> by
          &nbsp;<a href="https://trailblazer.me/id/damin24" target="_blank">Daniel Min</a>
          &nbsp;for <a href="https://www.tableau.com/products/tableau-crm" target="_blank">Salesforce Tableau CRM.</a>
      </div>
  </div>
</footer>