{% load static %}

<div class="sidebar" data-color="purple" data-background-color="white"
     data-image="{% static 'assets/img/sidebar-1.jpg' %}">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
        Automation Web
    </a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            {% url 'main:home' as home_url %}
            <li class="nav-item{% if request.get_full_path == home_url %} active{% endif %}">
                <a class="nav-link" href="{% url 'main:home' %}">
                    <i class="material-icons">home</i>
                    <p>Home</p>
                </a>
            </li>
            {% if request.user.is_authenticated %}
            {% url 'main:tree-remover' as tree_remover_url %}
            <li class="nav-item{% if request.get_full_path == tree_remover_url %} active{% endif %}">
                <a class="nav-link" href="{% url 'main:tree-remover' %}">
                    <i class="material-icons">share</i>
                    <p>Manage Dataflows</p>
                </a>
            </li>
            {% url 'main:slack' as slack_url %}
            <li class="nav-item{% if request.get_full_path == slack_url %} active{% endif %}">
                <a class="nav-link" href="{% url 'main:slack' %}">
                    <i class="material-icons">approval</i>
                    <p>Slack Approval Request</p>
                </a>
            </li>
            </li>
            {% url 'main:sfdc-env-list' as conn_url %}
            <li class="nav-item{% if request.get_full_path == conn_url %} active{% endif %}">
                <a class="nav-link" href="{{ conn_url }}">
                    <i class="material-icons">cloud</i>
                    <p>Salesforce Credentials</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>