{% load static %}

<div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo"><a href="#" class="simple-text logo-normal">
      Automation Web
    </a></div>
  <div class="sidebar-wrapper">
    {% url 'main:home' as home_url %}
    <ul class="nav">
      <li class="nav-item {% if request.get_full_path == home_url %} active {% endif %}">
        <a class="nav-link" href="./dashboard.html">
          <em class="material-icons">dashboard</em>
          <p>Home</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./user.html">
          <em class="material-icons">person</em>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./tables.html">
          <em class="material-icons">content_paste</em>
          <p>Table List</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./typography.html">
          <em class="material-icons">library_books</em>
          <p>Typography</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./icons.html">
          <em class="material-icons">bubble_chart</em>
          <p>Icons</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./map.html">
          <em class="material-icons">location_ons</em>
          <p>Maps</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./notifications.html">
          <em class="material-icons">notifications</em>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./rtl.html">
          <em class="material-icons">language</em>
          <p>RTL Support</p>
        </a>
      </li>
<!--      <li class="nav-item active-pro ">-->
<!--        <a class="nav-link" href="./upgrade.html">-->
<!--          <i class="material-icons">unarchive</i>-->
<!--          <p>Upgrade to PRO</p>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>
</div>