{% load static %}

<!-- Footer -->
<footer class="sticky-footer bg-footer-custom">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; TCRM Automation Web {{ currentYear }}</span>
            <div>Icons from <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

            <br/>

            <div>
                Developed by <a href="https://www.linkedin.com/in/daniel-min-590708112" target="_blank">Daniel Min</a>
                for <a href="https://www.salesforce.com/products/crm-analytics/overview/" target="_blank">Salesforce Tableau
                CRM</a> customizing the template <a href="https://github.com/startbootstrap/startbootstrap-sb-admin-2" target="_blank">SB Admin 2</a>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->