{% load static %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow topbar-bg">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    {% if request.user.is_authenticated %}
        <!-- Topbar Search -->
        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small menu-item-finder" placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <a class="btn btn-primary">
                        <i class="fas fa-search fa-sm"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small"
                               placeholder="Search for..." aria-label="Search"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        {% if request.user.is_authenticated %}
            <!-- Nav Item - Alerts -->
            {% include 'sb-base/body-components/alert-items/_items.html' %}
        {% endif %}

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small txt-username">
                    {% with first_name=request.user.first_name last_name=request.user.last_name %}
                        {% if first_name %}
                            {{ first_name|title }}{% if last_name %} {{ last_name|title }}{% endif %}
                        {% else %}
                            {{ request.user.username|title }}
                        {% endif %}
                    {% endwith %}
                </span>
                <img class="img-profile rounded-circle"
                     src="{% static 'sb-admin/assets/img/undraw_profile.svg' %}">
            </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'main:profile-view' %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>

                        <a class="dropdown-item" href="{% url 'main:job-list' %}">
                            <i class="fas fa-tasks fa-sm fa-fw mr-2 text-gray-400"></i>
                            Jobs
                        </a>

                        {#                        <a class="dropdown-item" href="{% url 'main:parameter-view' %}">#}
                        {#                            <i class="fas fa-sliders-h fa-sm fa-fw mr-2 text-gray-400"></i>#}
                        {#                            System Parameters#}
                        {#                        </a>#}

                        {#                        <div class="dropdown-divider"></div>#}
                        {##}
                        {#                        <a class="dropdown-item" href="{% url 'main:release-view' %}">#}
                        {#                            <i class="fas fa-rocket fa-sm fa-fw mr-2 text-gray-400"></i>#}
                        {#                            Release Notes#}
                        {#                        </a>#}

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item logout" href="#" data-toggle="modal" data-target="#logoutModal"
                           data-action="{% url 'main:logout' %}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    {% else %}
                        <a class="dropdown-item logout" href="{% url 'main:login' %}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Login
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item logout" href="{% url 'main:register-user' %}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Sign In
                        </a>
                    {% endif %}
                </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->