{% extends 'sd-base/base.html' %}

{% load static %}

{% block title %}Manage Dataflows{% endblock title %}
{% block page-header %}Manage Dataflows{% endblock page-header %}


{% block header-scripts %}
    <script>
        let default_title = "{{ default_title }}";
    </script>
{% endblock header-scripts %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Extract | Update</h6>
                </div>

                <div class="card-body">
                    <form method="POST" action="{% url 'main:extract-update-dataflow' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label for="id_{{ form.dataflow.name }}" class="form-label">Select the main
                                        dataflow</label>
                                    <input class="form-control" type="file" name="{{ form.dataflow.name }}"
                                           id="id_{{ form.dataflow.name }}" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label for="id_{{ form.replacers.name }}" class="form-label">Select the modifiers
                                        dataflows</label>
                                    <input class="form-control" type="file" name="{{ form.replacers.name }}"
                                           id="id_{{ form.replacers.name }}" multiple>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label for="id_{{ form.registers.name }}" class="form-label">'Register'
                                        nodes</label>
                                    <textarea class="form-control" name="{{ form.registers.name }}"
                                              id="id_{{ form.registers.name }}"></textarea>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label for="id_{{ form.name.name }}" class="form-label">Output file name</label>
                                    <input class="form-control" type="text"
                                           name="{{ form.name.name }}"
                                           placeholder="{{ form.name.placeholder_tag }}"
                                           aria-label="default input example" id="id_{{ form.name.name }}">
                                </div>
                            </div>
                        </div>

                        <br/>

                        <div class="form-row">
                            <div class="form-group col-md-6 ">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               id="id_{{ form.extract.name }}"
                                                name="{{ form.extract.name }}">
                                        <label class="form-check-label" for="id_{{ form.extract.name }}">
                                            Extract?
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br/>
                        <br/>

                        <button type="submit" class="btn btn-success btn-icon-split float-right">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Proceed</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <script src="{% static 'site/js/tree_remover.js' %}"></script>
{% endblock extra-scripts %}