/* Scrollable list group */
/* Source: https://stackoverflow.com/questions/47256185/bootstrap-list-group-scroll */
.list-group-deprecation {
    max-height: 800px;
    /*margin-bottom: 10px;*/
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}