{% extends 'sb-base/base.html' %}

{% load static %}

{% block title %}Manage Dataflows{% endblock title %}
{% block page-header %}Tableau CRM Dataflows / Deprecation{% endblock page-header %}

{% block page-content %}
    <div class="row">
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dataflow Fields deprecation form</h6>
                </div>

                <div class="card-body">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error|safe }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <form method="POST" action="{% url 'main:deprecate-fields' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <div class="mb-3">
                                    <label for="id_name" class="form-label required">Name</label>
                                    <input type="text" class="form-control" name="name" id="id_name" required>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="mb-3">
                                    <label for="id_org" class="form-label required">Org</label>
                                    <input type="text" class="form-control" name="org" id="id_org">
                                </div>
                            </div>
                            <div class="form-group col-md-7">
                                <div class="mb-3">
                                    <label for="id_case_url" class="form-label required">Case URL</label>
                                    <input type="url" class="form-control" name="case_url" id="id_case_url" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="mb-3">
                                    <label for="id_{{ form.files.name }}" class="form-label required">Select at least one
                                        Dataflow</label>
                                    <input class="form-control" type="file" name="{{ form.files.name }}"
                                           id="id_{{ form.files.name }}" required multiple>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="mb-3">
                                    <label for="id_{{ form.file.name }}" class="form-label">Get objects and fields from
                                        a file</label>
                                    <input class="form-control" type="file" name="{{ form.file.name }}"
                                           id="id_{{ form.file.name }}" disabled>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           id="id_{{ form.from_file.name }}"
                                           name="{{ form.from_file.name }}">
                                    <label class="form-check-label" for="id_{{ form.from_file.name }}">
                                        From File?
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="mb-3">
                                    <label for="id_sobjects" class="form-label required">Objects</label>
                                    <textarea class="form-control" name="sobjects" id="id_sobjects" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="mb-3">
                                    <label for="id_fields" class="form-label required">Fields</label>
                                    <textarea class="form-control" name="fields" id="id_fields" rows="6"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox"
                                           id="id_{{ form.save_metadata.name }}"
                                           name="{{ form.save_metadata.name }}">
                                    <label class="form-check-label" for="id_{{ form.save_metadata.name }}">
                                        Save information about objects and fields into a file?
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row float-right">
                            <button type="submit" hidden></button>
                            <a href="#" class="btn btn-success btn-icon-split" id="proceed-deprecation">
                                <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                                <span class="text">Proceed</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <script src="{% static 'site/js/dataflow-deprecate.js' %}" type="module"></script>
{% endblock extra-scripts %}