{% extends 'sd-base/base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}Manage Dataflows{% endblock title %}
{% block page-header %}Tableau CRM Dataflows / Deprecation{% endblock page-header %}

{% block header-scripts %}
    <script>
        let show_diff_url = "{% url 'main:compare-deprecations' %}";
        let remove_deprec_url = "{% url 'main:remove-deprecations' %}";
    </script>
{% endblock header-scripts %}

{% block page-content %}
    {% for object in list %}

    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            {#                            <th class="text-center">Status</th>#}
                            <th>Object ID</th>
                            <th>Name</th>
                            <th class="text-center">Action</th>
                            {#                            <th>Instance</th>#}
                            {#                            <th>Oauth Flow Status</th>#}
                            {#                            <th>Access Token Created Date</th>#}
                            {#                            <th class="text-right">Connect?</th>#}
                            {#                            <th class="text-right">CRUD</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        <div class="form-group">
                            <a href="{% url 'main:deprecate-fields' %}"
                               class="btn btn-success btn-icon-split float-right">
                                <span class="icon text-white-50">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class="text">New</span>
                            </a>
                        </div>

                        <br/>
                        <br/>
                        {% for object in list %}
                            <tr>
                                <td class="pk">{{ object.pk }}</td>
                                <td title="{{ object.file.path }}">{{ object.file.name }}</td>
                                <td class="text-center">
                                    <a href="{% url 'main:compare-deprecation' pk=object.pk %}"
                                       rel="tooltip" class="btn btn-info btn-circle btn-sm"
                                       title="Show with 'JDD'" target="_blank">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="#"
                                       rel="tooltip" class="btn btn-info btn-circle btn-sm btn-show-diff"
                                       title="Show with 'Diff2HtmlCompare'">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="#"
                                       rel="tooltip" class="btn btn-danger btn-circle btn-sm btn-remove-deprec"
                                       title="Remove deprecation"
                                       data-id="{{ object.pk }}" data-model-name="{{ object.file.name }}"
                                       data-toggle="modal" data-target="#delete-confirmation-md">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="delete-confirmation-md" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation to delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal" method="post" action="{% url 'main:remove-deprecations' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id-field">Object ID</label>
                                <input name="id-field"
                                       type="text"
                                       class="form-control"
                                       required
                                       readonly
                                       id="id-field"
                                       placeholder="" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name-field">Object Name</label>
                                <input name="name-field"
                                       type="text"
                                       class="form-control"
                                       required
                                       readonly
                                       id="name-field"
                                       placeholder="" value="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" id="delete-btn">Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <script src="{% static 'site/js/list-deprecation.js' %}" type="module"></script>
{% endblock extra-scripts %}