{% extends 'sb-base/base.html' %}

{% load static %}
{% load main_extras %}

{% block title %}Deprecation List{% endblock title %}
{% block page-header %}Tableau CRM Dataflows / Deprecation{% endblock page-header %}

{% block header-scripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.5/jsoneditor.css" rel="stylesheet"
          type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.5/jsoneditor.js"></script>

    <!-- Custom styles for this page -->
    <link href="{% static 'sb-admin/assets/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <link href="{% static 'site/css/deprecation-list.css' %}" rel="stylesheet" type="text/css">

    <script>
        let remove_deprec_url = "{% url 'main:remove-deprecations' %}";
    </script>
{% endblock header-scripts %}

{% block overlay-ajax %}
    {% include '_overlay-ajax.html' %}
{% endblock overlay-ajax %}

{% block page-content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Deprecation list</h6>
                </div>

                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-9">
                            <!-- Filter form -->
                            <form id="list-filter" method="get" action="{% url 'main:view-deprecations' %}">
                                <div class="form-row">
                                    <div class="form-group col-1">
                                        <label for="days">Days</label>
                                        <input type="text" id="days" name="days" class="form-control form-control-sm"
                                               value="{{ days }}">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- 'Delete all' button -->
                        {% if perms.main.special_permission_delete_all_deprecation %}
                            <div class="form-group col-3 float-right">
                                <br/>
                                <button class="btn btn-danger btn-icon-split float-right mr-2 delete-all">
                                    <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                                    <span class="text">Delete all</span>
                                </button>
                            </div>
                        {% endif %}
                    </div>

                    {% include 'dataflow-manager/deprecate-fields/details/_deprecation_list_table.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="delete-confirmation-md" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation to delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-horizontal" method="post" action="{% url 'main:remove-deprecations' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="id-field">Object ID</label>
                                <input name="id-field"
                                       type="text"
                                       class="form-control"
                                       required
                                       readonly
                                       id="id-field"
                                       placeholder="" value="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name-field">Object Name</label>
                                <input name="name-field"
                                       type="text"
                                       class="form-control"
                                       required
                                       readonly
                                       id="name-field"
                                       placeholder="" value="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" id="delete-btn">Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock page-content %}

{% block extra-scripts %}
    <!-- Page level plugins -->
    <script src="{% static 'sb-admin/assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'sb-admin/assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Custom -->
    <script>
        let delete_all_url = "{% url 'main:deprecation-delete-all' %}",
            download_selected_dfs = "{% url 'main:download-selected-dfs' pk=0 only_dep='xxx' errors='yyy' none='zzz' %}",
            get_removed_fields_url = "{% url 'main:get-removed-fields' pk='00' %}";
        const filter_deprecation = (el) => {
            let table = el.parent().parent().parent().parent().parent().find('table.table'),
                status_fields = table.find('input[type="hidden"].status'),
                deprecated = el.parent().parent().parent().parent().find('input[name="deprecation-filter"]')[0].checked,
                no_changes = el.parent().parent().parent().parent().find('input[name="deprecation-no-changes"]')[0].checked,
                with_error = el.parent().parent().parent().parent().find('input[name="deprecation-only-errors"]')[0].checked,

                status_to_show = [];

            deprecated ? status_to_show.push('1') : null;
            no_changes ? status_to_show.push('0') : null;
            with_error ? status_to_show.push('4') : null;

            status_fields.each((idx, element) => {
                element = $(element);

                if (!status_to_show.length || status_to_show.includes(element.val())) {
                    element.parent().show();
                } else {
                    element.parent().hide();
                }
            });
        };
    </script>
    <script src="{% static 'site/js/list-deprecation.js' %}?v={{ version }}" type="module"></script>
{% endblock extra-scripts %}