:root {
    --spinner-warning: #FB8C00;
    --spinner-success: #4bca80;
    --spinner-danger: #ff0000;
    --spinner-off: #b3b3b3;
    --spinner-primary: #2196f3;
}

.toast-header {
    color: #ffffff;
}

.text-muted {
    color: #ffffff !important;
}

/*  For download dataflow  */
textarea {
    width: 100%;
    min-height: 30rem;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
    line-height: 1.2;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: var(--spinner-warning);
    border-radius: 50%;
    display: inline-block;
}

.dot-wo-text-warning {
    height: 15px;
    width: 15px;
    background-color: var(--spinner-warning);
    border-radius: 50%;
    display: inline-block;
}

.dot-wo-text-gray {
    height: 15px;
    width: 15px;
    background-color: var(--spinner-off);
    border-radius: 50%;
    display: inline-block;
}

.dot-wo-text-primary {
    height: 15px;
    width: 15px;
    background-color: var(--spinner-primary);
    border-radius: 50%;
    display: inline-block;
}

.dot-wo-text-danger {
    height: 15px;
    width: 15px;
    background-color: var(--spinner-danger);
    border-radius: 50%;
    display: inline-block;
}

.dot-wo-text-success {
    height: 15px;
    width: 15px;
    background-color: var(--spinner-success);
    border-radius: 50%;
    display: inline-block;
}

.dot-wo-text-off {
    height: 15px;
    width: 15px;
    background-color: var(--spinner-off);
    border-radius: 50%;
    display: inline-block;
}

/* For SELECT2 */
/*Source: https://github.com/select2/select2/issues/4756#issuecomment-550419711*/
.select2-container .select2-selection--multiple {
    height: auto !important;
    margin: 0;
    padding: 0;
    line-height: inherit;
    border-radius: 0;
}

.select2-container .select2-search--inline .select2-search__field {
    margin: 0;
    padding: 0;
    min-height: 0;
}

.select2-container .select2-search--inline {
    line-height: inherit;
}


/* Scrollable list group */
/* Source: https://stackoverflow.com/questions/47256185/bootstrap-list-group-scroll */
.list-group {
    max-height: 300px;
    /*margin-bottom: 10px;*/
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.bg-not-read {
    background-color: #f3f2f2 !important;
}

.bg-login-image {
    background: url("../img/salesforce-integration.jpg");
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url("../img/salesforce-register.png");
    background-position: center;
    background-size: cover;
}

/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-ajax {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay p, .overlay-ajax p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus, .overlay-ajax a:hover, .overlay-ajax a:focus {
    color: #f1f1f1;
}

.overlay .close-screenplay {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay p, .overlay-ajax p {
        font-size: 20px
    }

    .overlay .close-screenplay {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Flash message */
.my-toast {
    z-index: 1080;
}

.required:after {
    content: "*";
    color: red;
}

.dropdown-header-dataflows {
    background-color: #a05fed;
    /*border: 1px solid #a05fed;*/
    display: block;
    padding: 0.75rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    white-space: nowrap;
    text-transform: uppercase !important;
}

.dropdown .dropdown-menu .dropdown-header-dataflows {
    font-weight: 800;
    font-size: 0.65rem;
    color: white;
}

.dropdown-header-alerts {
    background-color: #50dafb;
    /*border: 1px solid #a05fed;*/
    display: block;
    padding: 0.75rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    white-space: nowrap;
    text-transform: uppercase !important;
}

.dropdown .dropdown-menu .dropdown-header-alerts {
    font-weight: 800;
    font-size: 0.65rem;
    color: #033b42;
}

.bg-translucent-primary {
    background-color: #f0f7ff;
}

.bg-translucent-warning {
    background-color: #fff8e5;
}

.bg-translucent-danger {
    background-color: #fff6f6;
}

.bg-translucent-success {
    background-color: #f6fffb;
}

.bg-translucent-yellow {
    background-color: #fffede;
}

.bg-translucent-water {
    /*background-color: #defdff;*/
    /*background-color: #ebfeff;*/
    background-color: #f0fcfc;
}

/* TopBar BG*/
.topbar-bg {
    /*background: rgb(78, 115, 223);*/
    /*background: linear-gradient(113deg, rgba(78, 115, 223, 1) 8%,*/
    /*rgba(123, 156, 251, 1) 8%,*/
    /*rgba(80, 218, 237, 1) 92%,*/
    /*rgba(36, 184, 204, 1) 92%);*/

    background: rgb(123, 156, 251);
    background: linear-gradient(113deg, rgba(123, 156, 251, 1) 8%, rgba(36, 184, 204, 1) 78%, rgba(80, 218, 237, 1) 78%);
}

.txt-username {
    color: #033b42 !important;
}

.custom-nav-item .custom-nav-link {
    color: #033b42 !important;
}

.bg-footer-custom {
    background: rgb(211, 221, 250);
    /*background: linear-gradient(113deg, rgba(211, 221, 250, 0.8197479675463936) 25%, rgba(209, 244, 249, 0.8393558106836485) 75%);*/
    background: linear-gradient(113deg, rgba(211, 221, 250, 0.4) 25%, rgba(209, 244, 249, 0.4) 75%);
}

.card-header {
    background: rgb(211, 221, 250);
    background: radial-gradient(circle, rgba(211, 221, 250, 0.82) 25%, rgba(209, 244, 249, 0.84) 75%);
}

.flex {
    display: flex;
}

.flex-child-right {
    margin-left: auto;
    order: 2;
}